<div style="text-align:center">
  <h1>
    New Year Party Invite!!!
  </h1>
  <h4>
    Let's come together to celebrate the new year....
  </h4>
</div>

<div *ngIf="isFormSubmitted">
  <h4>Thank you for your response. See you @Party!!!</h4>
</div>

<div *ngIf="!isFormSubmitted">
  <form ngForm="signUpForm" (ngSubmit)="submitForm()">
    <div>
      <label for="guestName">What is your name?</label>
    </div>
    <div>
      <input id="guestName" name="guestName" [(ngModel)]="model.name">
    </div>

    <br>
    <div>
      <label for="">Can you attend?</label>
    </div>
    <div>
      <input type="radio" id="yesResponse" name="presence" value="true" [(ngModel)]="model.canAttend">
      <label for="yesResponse">Yes, I'll be there</label>
    </div>
    <div>
      <input type="radio" id="noResponse" name="presence" value="false" [(ngModel)]="model.canAttend">
      <label for="noResponse">Sorry, can't make it</label>
    </div>

    <br>
    <div>
      <label for="">How many of you are attending?</label>
    </div>
    <div>
      <input type="number" name="totalGuest" [(ngModel)]="model.totalGuest">
    </div>

    <br>
    <div>
      <label for="">What will you be bringing?</label>
    </div>
    <div>
      <div *ngFor="let dish of menuDishes">
        <input type="checkbox" [value]="dish" (change)="updateBasket($event, dish)">
        {{dish}}
      </div>
    </div>

    <br>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>